body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 2rem;
  color: whitesmoke ;
}

hr {
    margin: 20px auto;
    color: purple;
    border: 3px solid purple;
    max-width: 65px;
    opacity: 1;  
}

.buffer{
  height: 10rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {  
    background-color: purple;  
    border-color: purple;  
    --bs-btn-hover-bg: #df56df; 
    --bs-btn-hover-border-color: #df56df;
}

.btn-xl{
  padding: 1rem 2rem;
}

